In [13]:
import pandas as pd
import numpy as np

In [26]:
data = pd.read_csv('./datasets/advertising_cleaned.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TimeSpent           1002 non-null   float64
 1   Age                 1002 non-null   float64
 2   AreaIncome          1002 non-null   float64
 3   DailyInternetUsage  1002 non-null   float64
 4   AdHeadline          1002 non-null   object
 5   City                1002 non-null   object
 6   Male                1002 non-null   int64
 7   Country             1002 non-null   object
 8   Timestamp           1002 non-null   object
 9   Clicked             1002 non-null   int64
dtypes: float64(4), int64(2), object(4)
memory usage: 78.4+ KB

In [31]:
data.head(10)

,TimeSpent,Age,AreaIncome,DailyInternetUsage,AdHeadline,City,Male,Country,Timestamp,Clicked
0,80.23,31.0,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
1,69.47,26.0,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
2,74.15,29.0,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
3,68.37,35.0,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
4,59.99,23.0,59761.56,226.74,Sharable client-driven software,Jamieberg,1,Norway,2016-05-19 14:30:17,0
5,88.91,33.0,53852.85,208.36,Enhanced dedicated support,Brandonstad,0,Myanmar,2016-01-28 20:59:32,0
6,66.00,48.0,24593.33,131.76,Reactive local challenge,Port Jefferybury,1,Australia,2016-03-07 01:40:15,1
7,74.53,30.0,68862.00,221.51,Configurable coherent function,West Colin,1,Grenada,2016-04-18 09:33:42,0
8,69.88,20.0,55642.32,183.82,Mandatory homogeneous architecture,Ramirezton,1,Ghana,2016-07-11 01:42:51,0
9,47.64,49.0,45632.51,122.02,Centralized neutral neural-net,West Brandonton,0,Qatar,2016-03-16 20:19:01,1

In [16]:
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [17]:
features = ['TimeSpent', 'Age',
            'AreaIncome','DailyInternetUsage', 
            'Male']

features

['TimeSpent', 'Age', 'AreaIncome', 'DailyInternetUsage', 'Male']

#### Predict whether an individual will click on an ad or not?

In [18]:
X = data[features]

Y = data['Clicked']

In [19]:
# Limited-memory BFGS
model = LogisticRegression(solver='lbfgs')

In [20]:
# split intro training and test subsets
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [21]:
x_train.shape, y_train.shape

((801, 5), (801,))

In [22]:
x_test.shape, y_test.shape

((201, 5), (201,))

In [27]:
# Find the correlation between x_train and y_train
model.fit(x_train, y_train)

LogisticRegression()

In [29]:
# Put x_test in for prediction
y_pred = model.predict(x_test)
y_pred

array([0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0], dtype=int64)

In [32]:
# Model Valuation (use high precision model)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.95      0.91       110
           1       0.93      0.85      0.89        91

    accuracy                           0.90       201
   macro avg       0.90      0.90      0.90       201
weighted avg       0.90      0.90      0.90       201

In [33]:
# Predict new input
features

['TimeSpent', 'Age', 'AreaIncome', 'DailyInternetUsage', 'Male']

In [37]:
data.dtypes

TimeSpent             float64
Age                   float64
AreaIncome            float64
DailyInternetUsage    float64
AdHeadline             object
City                   object
Male                    int64
Country                object
Timestamp              object
Clicked                 int64
dtype: object

In [43]:
model.predict([[90, 48, 54000, 215, 0]])

array([1], dtype=int64)